<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>Home page</h1>
    <% if (locals.member) {%>
    <form action="/create-post">
      <label for="newPost">Make new post:</label>
      <input id="newPost" name="newPost" type="text" />
    </form>
    <%} %> <% locals.allPost.map(item => { %>
    <div>
      <p>Post: <%= item.post_text %></p>
      <p>
        Submited by: <%if (locals.member) {%> <%=item.first_name %> <%=
        item.last_name%> <%} else {%>Anonymous<%}%>
      </p>
    </div>
    <% }) %>
  </body>
</html>
