<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Make Member</title>
  </head>
  <body>
    <h1>Make Member</h1>
    <form action="/make-member" method="POST">
      <label for="memberSecret">Enter secret code</label>
      <input id="memberSecret" name="memberSecret" type="text" />
    </form>
  </body>
</html>
